body {
	font-family: Rage Italic;
	background-image:url(../images/g.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	
}
a {
	text-decoration: none;
}
h1 {
	text-decoration: none;
}

header { border: 5px solid rgba(0, 0, 0, 0.5);
		padding:5px;
		margin:10px;
		color:black;
		text-shadow: 2px 3px white;
}

.main-header {
	display:grid;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 0px;
	grid-template-columns:1fr;
	color: white;
}


#main-menu {
	list-style: none;
	display: grid;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display:grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-bottom: 10px;
}

.button {
	background-color: #000000;
	color: white;
	padding: 10px 25px;
	
}

.button:hover {
	background: 	#696969;
	color: black;
	transition: 2s;
	
}

.showcase {
	padding: 200px;
	margin-bottom: 10px;
	text-align:center;
	background-size:cover;
	background-position:center;
	background-image: url(../images/story/1.jpg);
	background-attachment:fixed;
	font-family:System;
	
}
p {
	font-size:20px;
	letter-spacing:8px;
	text-transform:uppercase;
}
.border {
	background-color:rgba(0, 0, 0, 0.5);
	padding: 20px;
	font-size: 80px;
	color:white;
}
.history {
	text-align:center;
	border: 10px solid rgba(0, 0, 0, 0.1);
	padding: 30px ;
	font-size: 20px;
}
img {
   border-radius: 10%;
	max-width: 100%;
    height: auto;
 }
.footer {
	text-align: center;
	padding: 5px;
	color: white;
	text-align: center;
	background: #000000;
	margin: 1px;
	
}
	
	
	
	
	